---
envs:
  operatorApiUrl: "http://{{ postgres_operator_deployment_name }}:8080"
  operatorClusterNameLabel: "cluster-name"
  resourcesVisible: "{{ postgres_operator_ui_resources_visible }}"
  targetNamespace: "{{ postgres_operator_ui_target_namespace }}"
  teams: {{ postgres_operator_ui_teams }}

resources:
  limits:
    cpu: "{{ postgres_operator_ui_cpu_limit }}"
    memory: "{{ postgres_operator_ui_memory_limit }}"
  requests:
    cpu: "{{ postgres_operator_ui_cpu_request }}"
    memory: "{{ postgres_operator_ui_memory_request }}"

ingress:
  enabled: {{ postgres_operator_ui_ingress_enabled | lower }}
{% if postgres_operator_ui_ingress_enabled %}
{% if postgres_operator_ui_ingress_class_name is defined and postgres_operator_ui_ingress_class_name | length > 0 %}
  ingressClassName: "{{ postgres_operator_ui_ingress_class_name }}"
{% endif %}
{% if postgres_operator_ui_ingress_annotations is defined %}
  annotations: {{ postgres_operator_ui_ingress_annotations }}
{% endif %}
{% if postgres_operator_ui_ingress_hosts is defined %}
  hosts: {{ postgres_operator_ui_ingress_hosts }}
{% endif %}
{% if postgres_operator_ui_ingress_tls is defined %}
  tls: {{ postgres_operator_ui_ingress_tls }}
{% endif %}
{% endif %}

extraEnvs: {{ postgres_operator_ui_extra_envs }}

{% for key, value in postgres_operator_ui_additional_helm_values.items() %}
{{ key }}: {{ value | to_yaml }}
{% endfor %}
